---
---
<!-- get modelType -->
{% include fragment-modelType.html id='at-core-ext-address-municipalityCode' %}

{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='at-core-ext-address-municipalityCode' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{modelType}}: AddressMunicipalityCode - Change History</h2>
{% include fragment-simpletable.html %}
  <p>Changes in the at-core-ext-address-municipalityCode {{modelType | downcase}}.</p>

  {%include StructureDefinition-at-core-ext-address-municipalityCode-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
